name: Line Length Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - feature_line_length_check

jobs:
  check-line-length:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run line-length check
      run: |
        MAX_LENGTH=20
        FILES=$(git ls-files 'facts/**/*.py' 'facts/**/*.md' 'facts/**/*.txt')
        echo "File dtected: $FILES"
        for FILE in $FILES; do
          echo "Checking $FILE"
          if ! awk -v len=$MAX_LENGTH 'length > len { print FILENAME ":" NR ": " $0; exit 1 }' $FILE; then
            echo "Line length exceeds $MAX_LENGTH in $FILE"
            exit 1
          fi
        done
        echo "All lines are within the $MAX_LENGTH limit."
